body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #0380fd;
    color: #fff;
    padding: 10px 0;
}

.banner {
    background-image: url(./explore\ the\ world.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.banner-content h1 {
    font-size: 3em;
    margin: 0;
}

.banner-content p {
    font-size: 1.5em;
    margin: 0;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}


footer {
    background: #3b3e41;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}